body{
		font-family: 'Bitter', Arial, 'Georgia', Times, Times New Roman, serif !important;
		overflow-x: hidden;
}

header{
	margin-bottom: 100px !important;
}

.navbar{
	position: relative;
	color:#ebebeb !important;
}

#dead{
	margin-top: -20px;
	display: none;
	position: absolute !important;
}

button{
	position: relative !important;
}
#start{
	height: 100px;
    -webkit-animation: mymove 0.5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 0.5s infinite;

}

#section{
	display: none;
}

#startOver{
	display: none;
}

#gameOver{
	display: none;
}

#wrong{
	display: none;
}

#win{
	display: none;
}


@keyframes mymove {
    from {height: 105px}
    to {height: 100px;}

}

@media only screen and (max-width: 1040px){
	
	#dead{
		margin-top: 20px !important;
	}

}

@media only screen and (max-width: 786px){

	#dead{
		margin-top: 80px;
		width: 95%;
	}
	button{
		width: 100%;
	}
}

@media only screen and (max-width: 640px){

	#dead{
		margin-top: 80px;
	}
}